.centered-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.star-wars-button {
  font-family: 'Pathway Gothic One', sans-serif;
  color: #ffe81f;
  background-color: #000;
  border: 2px solid #ffe81f;
  padding: 8px 16px;
  padding-left: 12px;
  border-radius: 0;
  margin-bottom: 20px;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: #ffe81f;
    color: #000;
  }

  &.active {
    background-color: #ffe81f;
    color: #000;
    border-color: #ffe81f;
  }
}

.icon-button {
  color: #ffe81f;
  border: none;
  width: 48px;
  height: 48px;
  position: fixed;
  margin: 10px;
  top: 0;
  left: 0;

  &:hover {
    background-color: rgba(255, 232, 31, 0.8);
  }

  mat-icon {
    width: 24px;
    height: 24px;
  }
}
